body,
main {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
#page-1 {
  height: 180vh;
  width: 100%;
}
#section-2 {
  width: 75%;
}
desc {
  font-size: var(--h2);
  font-family: var(--title);
  margin-bottom: 5vh;
}
form {
  width: 100%;
  gap: 50px;
}
entry {
  border-bottom: 2px solid var(--placeholder);
}
input,
textarea {
  border-bottom: 2px solid var(--placeholder);
  padding: 1rem 0;
  font-family: var(--text);
  font-size: var(--p);
  color: var(--placeholder);
  text-decoration: none;
  background-color: transparent !important;
  border: none;
  resize: none;
}
#button-cluster {
    width: 100%;
}
h4 span {
  margin-left: 10px;
  color: var(--accent);
}
input:focus,
textarea:focus {
  color: var(--primary);
  outline: none !important;
  width: 100%;
  text-transform: none;
  text-decoration: none;
  background-color: transparent;
  resize: none;
}
.heroMarquee {
  padding: 0 !important;
  overflow: hidden !important;
  position: relative;
  display: flex;
  width: 200vw;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
.heroMarquee-content {
  align-self: center;
  height: 100%;
  padding: 0 !important;
  overflow: hidden !important;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  justify-content: space-around;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
.heroMarquee-content h1 {
  font-size: var(--h1);
  line-height: var(--h1);
  font-family: var(--text);
  text-transform: uppercase;
}
@media (max-width: 768px) {
    #section-2 {
    width: 100%;
  }
}
