@font-face {
  font-family: 'ivypresto';
  src: url('/fonts/ivy100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ivypresto';
  src: url('/fonts/ivy100italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  /* FONTS */
  --title: 'ivypresto';
  --text: 'Satoshi';
  /* --title: ivypresto-display, serif; */
  /* --text: neue-haas-grotesk-display, sans-serif; */

  /* fONT SIZES */
  --p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --h4: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --resume: clamp(1.21rem, 0.69vw + 1.29rem, 1.43rem);
  --h3: clamp(2rem, 0.68vw + 1.83rem, 2.37rem);
  --h2: clamp(2.83rem, 0.96vw + 2.59rem, 3.36rem);
  --h1-footer: clamp(11.3rem, 3.85vw + 10.34rem, 13.42rem);
  --h1: clamp(9.22rem, 3.14vw + 8.44rem, 10.3rem);
  --h1-project: clamp(11.3rem, 3.85vw + 10.34rem, 13.42rem);

  /* --font-1: clamp(0.71rem, 0.24vw + 0.65rem, 0.84rem);
  --a: clamp(0.85rem, 0.29vw + 0.78rem, 1.01rem);
  --p: clamp(0.92rem, 0.31vw + 0.84rem, 1.09rem);
  --font-2: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-3: clamp(1.41rem, 0.48vw + 1.29rem, 1.68rem);
  --h2: clamp(1.7rem, 0.58vw + 1.56rem, 2.02rem);
  --font-4: clamp(2rem, 0.68vw + 1.83rem, 2.37rem);
  --h1-footer: clamp(2.41rem, 0.82vw + 2.21rem, 2.86rem);
   --bruv: clamp(2.62rem, 0.89vw + 2.39rem, 3.11rem);
  --font-5: clamp(2.83rem, 0.96vw + 2.59rem, 3.36rem);
  --h1: clamp(3.41rem, 1.36vw + 3.66rem, 4.75rem);
  --font-6: clamp(4rem, 1.36vw + 3.66rem, 4.75rem);
  --h1-footer: clamp(4.41rem, 1.5vw + 4.3rem, 5.24rem);
  --h1-footer: clamp(4.82rem, 1.64vw + 4.41rem, 5.73rem);
  --font-7: clamp(5.65rem, 1.93vw + 5.17rem, 6.71rem);
  --h1: clamp(6.2rem, 6.2vw + 5.7rem, 7.4rem);
  --font-8: clamp(7.99rem, 2.72vw + 7.31rem, 9.49rem);
  --h1: clamp(8.81rem, 3vw + 8.06rem, 9.15rem);
  --font-8: clamp(9.64rem, 3.28vw + 8.82rem, 11.45rem);
  --font-9: clamp(11.3rem, 3.85vw + 10.34rem, 13.42rem);
  --font-0: clamp(15.98rem, 5.45vw + 14.62rem, 18.98rem);
  --font-q: clamp(22.6rem, 7.7vw + 20.67rem, 26.83rem);
  --font-w: clamp(31.95rem, 10.89vw + 29.23rem, 37.94rem);
  --font-2:clamp(38.56rem, 13.14vw + 35.28rem, 45.79rem);
  --font-w: clamp(38.56rem, 13.14vw + 35.28rem, 45.79rem);
  --font-e: clamp(45.18rem, 15.4vw + 41.33rem, 53.65rem);
  --font-r: clamp(63.88rem, 21.78vw + 58.44rem, 75.86rem);
  --font-t: clamp(90.33rem, 30.8vw + 82.63rem, 107.27rem);
  --font-y: clamp(127.73rem, 43.54vw + 116.84rem, 151.68rem);
  --font-u: clamp(180.61rem, 61.57vw + 165.22rem, 214.47rem);*/

  /* COLOURS */
  --primary: #fae9d5;
  --secondary: #272320;
  --text-color: #cdc3b7;
  --divider: #f1e8dc2e;
  --accent: #df4f36;

  /* RATIOS */
  --ratio: 1.414;
  --uni: calc(var(--ratio) * 1.414rem);
  --ratio-2: calc(var(--ratio) * var(--ratio));
}

/* UNIVERSAL ELEMENTS */
[data-theme="dark"] {
  --primary: #272320;
  --secondary: #fae9d5;
  --text-color: #272320b3;
  --divider: #2723201f;
}

.disable-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.w {
  padding-left: var(--uni);
  padding-right: var(--uni);
}

.work-padding {
  padding-left: var(--uni);
  padding-right: var(--uni);
}

.w-2 {
  padding-left: calc(var(--uni) * var(--ratio));
  padding-right: calc(var(--uni) * var(--ratio));
}

.w-3 {
  padding-left: calc(var(--uni) * var(--ratio-2));
  padding-right: calc(var(--uni) * var(--ratio-2));
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.space-bw {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.space-even {
  justify-content: space-evenly;
}

.dif {
  mix-blend-mode: difference;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.pointer-none {
  pointer-events: none;
}

::-moz-selection {
  background: var(--primary);
  color: var(--secondary);
}

::selection {
  background: var(--primary);
  color: var(--secondary);
}

/* CURSOR */
@media (min-width: 769px) {
  body:hover > #cursor {
    opacity: 1;
  }
  
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    display: grid;
    place-items: center;
  }
  
  #cursor:not([data-type=""]) > #cursor-text {
    opacity: 1;
  }
  
  #cursor-text {
    color: #272320;
    font-size: 3px;
    line-height: 4px;
    opacity: 0;
    transition: opacity 400ms ease;
  }
}
/* LOADER */
#loader {
  position: fixed;
  margin: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  height: 100%;
  background-color: var(--primary);
}

#loader h2 {
  white-space: nowrap;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary);
  font-family: var(--title);
  font-style: normal;
}

.parent {
  height: 100%;
  overflow: hidden;
  display: block;
}

.reveal .parent .child {
  display: block;
}

.child plug {
  display: inline-block;
}

plug .child {
  display: inline-block;
}

.parent .child plug {
  display: inline-block;
}

/* TYPE */
p {
  color: var(--text-color);
  font-family: var(--text);
  font-weight: 500;
  font-style: normal;
  font-size: var(--p);
  line-height: 170%;
}

h1 {
  font-size: var(--h1);
  font-family: var(--title);
  font-weight: 250;
  font-style: normal;
  color: var(--primary);
}

h2 {
  font-size: var(--h2);
  font-family: var(--title);
  font-weight: 500;
  color: var(--primary);
}

h3 {
  line-height: 150%;
  font-size: var(--h3);
  font-family: var(--title);
  font-weight: 200;
  color: var(--primary);
}

h4 {
  line-height: 150%;
  color: var(--primary);
  font-size: var(--h4);
  font-weight: 500;
  font-family: var(--text);
  text-transform: uppercase;
}

spon {
  font-family: var(--title);
  font-style: italic;
  text-decoration: underline;
}

em {
  font-style: italic;
  text-decoration: underline;
}

/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--secondary);
  box-sizing: border-box;
  color: var(--text-color);
  font-size: var(--p);
  font-family: var(--text);
  display: flex;
  flex-direction: column;
}

main {
  background: var(--secondary);
  transition: 0.2s ease-in-out;
}

/* HEADER */
nav {
  text-transform: uppercase;
  mix-blend-mode: difference;
  height: clamp(7.99rem, 2.72vw + 7.31rem, 9.49rem);
  z-index: 3;
  position: fixed;
  width: 100%;
}

/* NAVBAR BACKGROUND */
/* nav {
  mix-blend-mode: normal !important;
  background-image: linear-gradient(var(--secondary), transparent);
  height: clamp(6.2rem, 6.2vw + 5.7rem, 7.4rem);
} */

#nav-home {
  text-transform: none;
  font-family: var(--title);
  font-size: clamp(1.7rem, 0.58vw + 1.56rem, 2.02rem);
}

#nav-cluster {
  width: clamp(15.98rem, 5.45vw + 14.62rem, 18.98rem);
}

#nav-color-mode {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.menu-close,
#nav-contact {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.nav {
  z-index: 10;
  color: var(--primary);
}

.cta,
.nav {
  text-transform: uppercase;
  font-size: var(--h4);
  font-weight: 450;
  transition: 0.25s ease-in-out;
}

#top-section {
  height: 4rem;
}

#socials {
  overflow: hidden !important;
  height: 2.75rem;
  width: 100%;
}

#socials a {
  overflow: hidden !important;
}

#copyright {
  margin: 1rem 0;
}
/* CTA */
.cta {
  display: block;
  border-radius: 2em;
  height: 4rem;
  line-height: 4rem;
  width: 170px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-align: center;
  text-decoration: none;
}

.cta:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

/* H2 TEXT */
.copy {
  align-self: center;
  position: relative;
  width: 80%;
  font-family: var(--title);
  text-align: left;
}

.char span {
  font-style: normal;
}

.word span {
  font-style: normal;
}

.split-parent {
  overflow: hidden;
}

.split-line {
  overflow: hidden;
}

/* OVERLAY */
#overlay-bg {
  position: fixed;
  margin: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  height: 100%;
  background-color: #2723206a;
}

.overlay {
  overflow-x: hidden !important;
  width: 100%;
  background-color: var(--accent);
  height: 58vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-close {
  margin: auto 0;
}

.star {
  align-self: center;
}

svg {
  height: clamp(2.41rem, 0.82vw + 2.21rem, 2.86rem);
  fill: var(--secondary);
  transition: 0.2s ease-in-out;
}

.overlay>* {
  color: var(--secondary) !important;
  text-align: center;
  width: 100%;
}

.overlay h4 {
  color: var(--secondary) !important;
}

#footer-title a {
  font-family: var(--title);
  color: var(--secondary) !important;
}

.stripe {
  padding: 0 !important;
  overflow-x: hidden !important;
  position: relative;
  display: flex;
  width: 200vw;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.stripe-content {
  padding: 0 !important;
  overflow-x: hidden !important;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  justify-content: space-around;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.stripe-content h1 {
  transition: 0.2s ease-in-out;
  color: var(--secondary) !important;
  font-size: var(--h1-footer);
}

.marquee {
  padding: 0 !important;
  overflow-x: hidden !important;
  position: relative;
  display: flex;
  width: 200vw;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.marquee-content {
  padding: 0 !important;
  overflow-x: hidden !important;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  justify-content: space-around;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.marquee-content img {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 250px;
  height: 80%;
}

/* SCROLL */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--accent) var(--secondary);
}

*::-webkit-scrollbar {
  width: 22px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
  border: 7px solid var(--secondary);
}

@media (max-width: 1440px) {
  :root {
    --h1: clamp(8.81rem, 3vw + 8.06rem, 9.15rem);
  }

  .copy {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  :root {
    --h1: clamp(7.99rem, 2.72vw + 7.31rem, 9.49rem);
  }
}

@media (max-width: 915px) {
  :root {
    --h1: clamp(6.82rem, 2.32vw + 6.24rem, 8.1rem);
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  svg {
    height: clamp(1.7rem, 0.58vw + 1.56rem, 2.02rem);
  }

  #nav-cluster {
    width: clamp(9.64rem, 3.28vw + 8.82rem, 11.45rem);
  }

  body,
  main {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .site {
    width: 100%
  }

  :root {
    --h1: clamp(5.65rem, 1.93vw + 5.17rem, 6.71rem);
    --h1-project: clamp(6.82rem, 2.32vw + 6.24rem, 8.1rem);
    --h1-footer: clamp(6.82rem, 2.32vw + 6.24rem, 8.1rem);
    --h2: clamp(2rem, 0.68vw + 1.83rem, 2.37rem);
  }

  #nav-playground {
    display: none;
  }
}

@media (max-width: 684px) {

  .w {
    padding-left: 0;
    padding-right: 0;
  }

  :root {
    --h1: clamp(4.82rem, 1.64vw + 4.41rem, 5.73rem);
    --h1-project: clamp(5.65rem, 1.93vw + 5.17rem, 6.71rem);
  }

}

@media (max-width: 600px) {
  :root {
    --h1: clamp(4.82rem, 1.64vw + 4.41rem, 5.73rem);
  }
}

@media (max-width: 550px) {
  .w-2 {
    padding-left: calc(var(--uni) * 1);
    padding-right: calc(var(--uni) * 1);
  }

  .w-3 {
    padding-left: calc(var(--uni) * var(--ratio));
    padding-right: calc(var(--uni) * var(--ratio));
  }
}

@media(max-width: 527px) {
  :root {
    --h1: clamp(4.61rem, 1.57vw + 4.35rem, 5.48rem);
  }
}

@media(max-width: 517px) {
  :root {
    --h1: clamp(4.51rem, 1.53vw + 4.32rem, 5.36rem);
  }
}

@media (max-width: 500px) {

  :root {
    --h1: clamp(3.41rem, 1.36vw + 3.66rem, 4.75rem);
    --h1-project: clamp(5.23rem, 1.78vw + 4.79rem, 6.22rem);
  }
}

@media (max-width: 450px) {
  :root {
    --h1: clamp(3rem, 2vw + 3rem, 4rem);
    /* --h1-project: clamp(4rem, 1.36vw + 3.66rem, 4.75rem); */
    --h2: clamp(2rem, 0.68vw + 1.83rem, 2.37rem);
  }

  .w-3 {
    padding-left: calc(var(--uni) * 1);
    padding-right: calc(var(--uni) * 1);
  }
}

@media (max-width: 375px) {
  #about {
    height: 75vh;
  }
}